<%# encoding: utf-8 %>

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_notices" class="notice ui-widget">
        <div class="ui-state-error ui-corner-all">
            <p>
                <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
                <strong>Alert:</strong>
                Użytkownik nie został zapisany z powodu następujących błędów:
            </p>
            <ul>
            <% @user.errors.messages.each do |message| %>
             <li><%= message.last.last.html_safe %></li>
            <% end %>
            </ul>
        </div>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :login, "Login:" %><br />
    <%= f.text_field :login %>
  </div>
  <div class="field">
    <%= f.label :password, "Hasło:" %><br />
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :role, "Rola:" %><br />
    <%= f.text_field :role %>
  </div>

  <div class="field">
    <%= f.label :unit, "Jednostka:" %><br />
    <%= collection_select(:issue, :unit_id, Unit.all, :id, :name) %>
  </div>

  <div class="actions">
    <%= f.submit "Zapisz", :id => 'res_submit_asynchro' %>
  </div>
<% end %>
