<%# encoding: utf-8 %>

<% if notice %>
<div class="notice ui-widget">
    <div class="ui-state-highlight ui-corner-all">
        <p>
            <span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
            <strong>Alert:</strong>
            <%= notice %>
        </p>
    </div>
</div>
<% end %>

<p>
  <b>Login:</b>
  <%= @user.login %>
</p>

<p>
  <b>Password:</b>
  <%= @user.password %>
</p>

<p>
  <b>Role:</b>
  <%= @user.role %>
</p>

<p>
  <b>Unit:</b>
  <%= @user.unit %>
</p>