<%# encoding: utf-8 %>

<%- content_for(:head_extra) do -%>
  <%= javascript_include_tag "jquery_ui.js" %>
  <%= stylesheet_link_tag "jquery_form.js" %>
  <%= stylesheet_link_tag "jquery_ui.css" %>

  <%= maps_javascript_tag %>
  <%= javascript_include_tag "map_common.js" %>
  <%= javascript_include_tag "notifies.js" %>

  <%= stylesheet_link_tag "notifies.css" %>
<%- end -%>

<%- @body_onload = "initializeNotifies()" %>

<div id="notifies">
  <div id="header">System Zgłaszania Uszkodzeń Jezdni</div>
  <div id="panel">Kliknij w mapę w miejscu, w którym znajduje się uszkodzenie jezdni.</div>
  <div id="map_canvas" ></div>
</div>

<div id="footer_notifies">
	<a href="#" title="Kontakt">Kontakt</a> | 
	<a href="/check_status" title="Podglad">Podgląd zgłoszenia</a> | 
	<a href="/login" title="Logowanie">Logowanie</a> | 
	© 2012 by Alpha Team
</div>
