<%# encoding: utf-8 %>

<h1>Statusy zgłoszeń</h1>

<%= link_to 'Nowy status', new_status_path, :class => 'btn_dialog'  %>

<table>
 <thead>
  <tr>
    <th>Id</th>
    <th>Nazwa</th>
    <th>Kolor</th>
    <th>Utworzono</th>
    <th>Edycja</th>
    <th>Usuwanie</th>
  </tr>
 </thead>
<tbody>
    <% @statuses.each do |status| %>
        <tr>
        <td><%= status.id %></td>
        <td><%= status.name %></td>
        <td><div class="color_label"><%= status.color %></div>
            <div class="color_preview" style="background: #<%= status.color %>;"></div></td>
        <td><%= status.created_at %></td>
        <td><%= link_to 'Edytuj', edit_status_path(status), :class => 'btn_dialog' %></td>
        <td><%= link_to 'Usuń', status, :confirm => 'Jesteś pewien?', :method => :delete, :class => 'btn' %></td>
    </tr>
    <% end %>
<tbody>
</table>
