<%= stylesheet_link_tag "admin" %>
<%= javascript_include_tag "login" %>

<div id="auth">
<div class="header">
<h1>Logowanie</h1>
</div>
<%= form_tag login_path do %>
  <div class="field">
  <%= label_tag :login, "Login" %>
  <%= text_field_tag :login, params[:login], :class => 'text medium' %>
  </div>
  <div class="field">
  <%= label_tag :password, "Hasło" %>
  <%= password_field_tag :password, nil, :class => "text medium" %>
  </div>
<div class="actions">
	<%= submit_tag "Zaloguj", :class => 'btn action' %>        
</div>
<% end %>

</div>
