<%# encoding: utf-8 %>

<div id="header-container">
	<div id="header" />
</div>
<p>
  <b>Kategoria:</b>
	<%= @issue_instances.issue.category.name %>
</p>

<p>
  <b>Opis:</b>
  <%= @issue_instances.desc %>
</p>

<p>
  <b>Status:</b>
	<%= @issue_instances.issue.status.name %>
</p>

<p>
  <b>Jednostka odpowiedzialna:</b>
	<%= @issue_instances.issue.unit.name %>
</p>

<% if (@issue_instances.photos.length > 0) %>
<p>
  <b>Zdjęcia:</b><br>
  <% @issue_instances.photos.each do |photo| %>
    <%= image_tag("/res/photos/" + photo.id.to_s) %><br>
  <% end %>
</p>
<% end %>



