<%# encoding: utf-8 %>

<h3>Adres</h3>

<p>

<div class="field">
  <%= f.label :city, "Miasto" %>
  <%= f.text_field :city %>
</div>

<div class="field">
  <%= f.label :zip, "Kod pocztowy" %>
  <%= f.text_field :zip %>
</div>

<div class="field">
  <%= f.label :street, "Ulica" %>
  <%= f.text_field :street %>
</div>

<div class="field">
  <%= f.label :home_number, "Nr domu" %>
  <%= f.text_field :home_number %>
</div>

<div class="field">
  <%= f.label :additional_info, "Dodatkowe informacje" %>
  <%= f.text_field :additional_info %>
</div>

</p>

