<%# encoding: utf-8 %>

<p>

<%= form_for(@unit) do |f| %>
  <% if @unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@unit.errors.count, "błąd") %> nie pozwolił na zapisanie jednostki:</h2>

      <ul>
      <% @unit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Nazwa" %>
    <%= f.text_field :name %>
  </div>

  <%= hidden_field_tag('polygons', "{ \"polygons\": [] }") %>

  <%= f.fields_for(:address, @unit.address) do |builder| %>
    <%= render 'addresses/address_form', :f => builder %>
  <% end %>

  <div class="actions">
    <%= f.submit "Zapisz" %>
  </div>

<% end %>

</p>

