<%# encoding: utf-8 %>

<p>

<%= form_for(@unit) do |f| %>
  <% if @unit.errors.any? %>
    <div class="notice ui-widget">
        <div class="ui-state-error ui-corner-all">
            <p>
                <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
                <strong>Alert:</strong>
                Jednostka nie została zapisana z powodu następujących błędów:
            </p>
            <ul>
            <% @unit.errors.messages.each do |message| %>
              <li><%= message.last.last.html_safe %></li>
            <% end %>
            </ul>
        </div>
    </div>
  <% end %>

  <div class="field">
    <b><%= f.label :name, "Nazwa" %>
    <%= f.text_field :name %>
  </div>

  <div id="original_polygons" style="display: none;"><%= h @polygons %></div>
  <%= hidden_field_tag('polygons', '[]') %>

  <%= f.fields_for(:address, @unit.address) do |builder| %>
    <%= render 'addresses/address_form', :f => builder %>
  <% end %>

  <div class="actions">
    <%= f.submit "Zapisz", :style => 'margin-top: 1em' %>
  </div>

<% end %>

</p>

