<%# encoding: utf-8 %>

<%- content_for(:head_extra) do -%>
  <%= maps_javascript_tag %>
  <%= javascript_include_tag "map_common.js" %>
  <%= javascript_include_tag "units.js" %>
  <%= stylesheet_link_tag "units.css" %>
<%- end -%>

<%- @body_onload = "initializeEdit(#{@unit.id})" %>

<h1>Edycja jednostki</h1>

<div id="map_canvas" class="unit_map"></div>

<%= render 'form' %>

<%= link_to 'Wstecz', units_path, :class => 'btn' %>
<%= link_to 'Pokaż', @unit, :class => 'btn' %>