<%# encoding: utf-8 %>

<h1>Jednostki</h1>

<%= link_to 'Nowa jednostka', new_unit_path, :class => 'btn'  %>

<table>
 <thead>
  <tr>
    <th>Nazwa</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 </thead>
<% @units.each do |unit| %>
  <tr>
    <td><%= unit.name %></td>
    <td><%= link_to 'Pokaż', unit %></td>
    <td><%= link_to 'Edytuj', edit_unit_path(unit) %></td>
    <td><%= link_to 'Usuń', unit, :confirm => 'Jesteś pewien?', :method => :delete %></td>
  </tr>
<% end %>
</table>

