<%# encoding: utf-8 %>

<%- content_for(:head_extra) do -%>
  <%= maps_javascript_tag %>
  <%= javascript_include_tag "map_common.js" %>
  <%= javascript_include_tag "map_units.js" %>
  <%= stylesheet_link_tag "units.css" %>
<%- end -%>

<%- @body_onload = "initializeShow(#{@unit.id})" %>

<div id="show_unit">
  <b>Nazwa:</b>
  <%= @unit.name %>

  <br>

  <b>Adres:</b>
  <br>
  <div style='margin-left: 3em'>
  <%= display_address(@unit.address) %>
  </div>

  <%= link_to 'Edytuj', edit_unit_path(@unit), :class => 'btn' %>
</div>

<div id="map_canvas" class="unit_map"></div>

<%= link_to 'Wstecz', units_path, :class => 'btn' %>