<%# encoding: utf-8 %>
<%- content_for(:head_extra) do -%>

<%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?key=AIzaSyAcWrk6Vv91SXalY8y1mc3akRQI3RmcicA&sensor=true" -%>
<%= javascript_include_tag "polygons.js" -%>
<%= stylesheet_link_tag "units.css" %>

<%- end -%>

<%- @body_onload = "initializeShow(#{@unit.id})" -%>


<p>
  <b>Nazwa:</b>
  <%= @unit.name %>

  <br>

  <b>Adres:</b>
  <br>
  <div style='margin-left: 3em'>
  <%= display_address(@unit.address) %>
  </div>

  <br>

  <b>Obszar:</b>
  <div id="map_canvas"></div>
</p>

<%= link_to 'Edytuj', edit_unit_path(@unit) %> |
<%= link_to 'Wstecz', units_path %>
