<h1>Formularz zgłaszania szkody</h1>

<div id="issue_form">
  <div id="issue_message"></div>

  <%= form_tag issue_add_path, :remote => true do %>

    <div style="width: 100%">

      <span>Kategoria: </span> <span id="category_name_span">[wybierz]</span>
      <ol id="selectable" style="float: left; width: 100%">
        <% Category.all.each do |c| %>
          <li class="ui-state-default" style="background: url('/res/category_icon/<%= c.id.to_s %>');"> </li>
        <% end %>
      </ol>

      <%= label_tag(:desc, "Opis") %>
      <%= text_area_tag(:desc, "", :class => "text ui-widget-content ui-corner-all", :cols => "20") %>

      <%= label_tag(:notificar_email, "E-mail") %>
      <%= text_field_tag(:notificar_email, "", :size => "24", :class => "ui-widget-content ui-corner-all") %>

      <!-- Ukryte pola sa ustawiane przez js w momencie wysylania formularza -->
      <%= hidden_field_tag(:longitude, "") %>
      <%= hidden_field_tag(:latitude, "") %>
      <%= hidden_field_tag(:category_id, "") %>
      <%= hidden_field_tag(:photos, "") %>

      <%= label_tag(:upload_iframe, "Wybierz zdjęcie") %>

      <iframe id="upload_iframe" src="/res/upload" width= "98%" frameborder="0" class="ui-widget-content ui-corner-all"></iframe>

    </div>

    <%= submit_tag("Zgłoś", :class => "btn") %>
  <% end %>

  </div>
</div>
