<%# encoding: utf-8 %>
<!DOCTYPE html>
<html>
<head>
  <title>Dziura</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield(:head_extra) %>
  <%= csrf_meta_tags %>
</head>
<body <%= " onload='#{@body_onload}'"%> >

<% if logged_in? %>
<div id="header-container">
	<div id="header">
		<div id="nav">
			<ul>
			  <li><%= link_to "Główna", admin_path  %></li>
			  <li><%= link_to "Użytkownicy", users_path  %></li>
			  <li><%= link_to "Jednostki", units_path  %></li>
			  <li><%= link_to "Statusy", statuses_path  %></li>
			  <li><%= link_to "Zgłoszenia", issues_path  %></li>
			  <li><%= link_to "Kategorie", categories_path  %></li>  
			  <li><%= link_to "Wyloguj", logout_path  %></li>  
			</ul>
		</div>
	</div>
</div>
<% end %>

<%= flash[:notice] %>
<%= flash[:error] %>

<%= yield %>

</body>
</html>
