<!DOCTYPE html>
<html>
<head>
  <title>Dziura</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield(:head_extra) %>
  <%= csrf_meta_tags %>
</head>
<body <%= " onload='#{@body_onload}'"%> >

<% if logged_in? %>
<div id="header-container">
	<div id="header">
		<div id="nav">
			<ul>
			  <li><%= link_to image_tag("main.png"), admin_path  %></li>
			  <li><%= link_to image_tag("users.png"), users_path  %></li>
			  <li><%= link_to image_tag("units.png"), units_path  %></li>
			  <li><%= link_to image_tag("statuses.png"), statuses_path  %></li>
			  <li><%= link_to image_tag("issues.png"), issues_path  %></li>
			  <li><%= link_to image_tag("categories.png"), categories_path  %></li>  
			  <li><%= link_to image_tag("logout.png"), logout_path  %></li>  
			</ul>
		</div>
	</div>
</div>
<% end %>

<%= flash[:notice] %>
<%= flash[:error] %>

<%= yield %>

</body>
</html>
