<%# encoding: utf-8 %>
<!DOCTYPE html>
<html>
<head>
  <title>Dziura</title>
  <%= stylesheet_link_tag    "admin.css" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery-ui-1.8.19.custom.min.js" %>
  <%= stylesheet_link_tag "jquery-ui-1.8.19.custom.css" %>
  <%= javascript_include_tag "admin" %>
  <%= include_controller_assets %>
  <%= yield(:head_extra) %>
  <%= csrf_meta_tags %>
</head>
<body <%= " onload='#{@body_onload}'"%> >

<% if flash[:error] %>
<div class="notice ui-widget">
    <div class="ui-state-error ui-corner-all">
        <p>
            <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
            <strong>Alert:</strong>
            <%= flash[:error] %>
        </p>
    </div>
</div>
<% end %>

<% if flash[:notice] %>
<div class="notice ui-widget">
    <div class="ui-state-highlight ui-corner-all">
        <p>
            <span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
            <strong>Alert:</strong>
            <%= flash[:notice] %>
        </p>
    </div>
</div>
<% end %>

<% if logged_in? %>
<div id="wrapper">
	<div id="top">
		<span id="info">
			Panel administracyjny - System Zgłaszania Uszkodzeń Jezdni
		</span>
		<%= link_to "Wyloguj", logout_path  %></div>
		<div id="panel">
			<ul class="menu">
			  <li><%= link_to "Główna", admin_path  %></li>
			  <li><%= link_to "Zgłoszenia", issues_path  %></li>
			  <li><%= link_to "Użytkownicy", users_path  %></li>
			  <li><%= link_to "Jednostki", units_path  %></li>
			  <li><%= link_to "Statusy", statuses_path  %></li>
			  <li><%= link_to "Kategorie", categories_path  %></li>
			</ul>
		</div>
	<div id="container">
		<%= yield %>
	</div>
</div>
<div id="footer_admin">© 2012 by Alpha Team</div>
<% else %>
<%= yield %>
<% end %>

</body>
</html>
