<!DOCTYPE html>
<html>
<head>
  <title>Dziura</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield(:head_extra) %>
  <%= csrf_meta_tags %>
</head>
<body <%= " onload='#{@body_onload}'"%> >

<% if logged_in? %>
<div id="wrapper">
	<div id="top">
		<span id="info">
			Panel administracyjny - System Zgłaszania Uszodzeń Jezdni
		</span>
		<%= link_to "Wyloguj", logout_path  %></div>
		<div id="panel">
			<ul class="menu">
			  <li><%= link_to "Główna", admin_path  %></li>
			  <li><%= link_to "Użytkownicy", users_path  %></li>
			  <li><%= link_to "Jednostki", units_path  %></li>
			  <li><%= link_to "Statusy", statuses_path  %></li>
			  <li><%= link_to "Zgłoszenia", issues_path  %></li>
			  <li><%= link_to "Kategorie", categories_path  %></li>
			</ul>
		</div>
	<div id="container">
		<%= yield %>
	</div>
</div>
<div id="footer">© 2012 by Alpha Group</div>
<% else %>
<%= yield %>
<% end %>

<%= flash[:notice] %>
<%= flash[:error] %>

</body>
</html>
