<!DOCTYPE html>
<html>
<head>
  <title>Dziura</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield(:head_extra) %>
  <%= csrf_meta_tags %>
</head>
<body <%= " onload='#{@body_onload}'"%> >

<%= yield %>

</body>
</html>
