<!DOCTYPE html>
<html>
<head>
  <title>Dziura</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul>
  <li><%= link_to 'glowna', root_path  %></li>
  <li><%= link_to 'uzytkownicy', users_path  %></li>
  <li><%= link_to 'jednostki', units_path  %></li>
  <li><%= link_to 'statusy', statuses_path  %></li>
  <li><%= link_to 'kategorie', categories_path  %></li>
  <% if logged_in? %>
    <li><%= link_to 'wyloguj', logout_path  %></li>
  <% end %>
</ul>

<%= flash[:notice] %>
<%= flash[:error] %>

<%= yield %>

</body>
</html>
