<%# encoding: utf-8 %>

<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div class="notice ui-widget">
        <div class="ui-state-error ui-corner-all">
            <p>
                <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
                <strong>Alert:</strong>
                Kategoria nie została zapisana z powodu następujących błędów:
            </p>
            <ul>
            <% @category.errors.messages.each do |message| %>
              <li><%= message.last.last.html_safe %></li>
            <% end %>
            </ul>
        </div>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Nazwa:" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :icon, "Ikona:" %><br />
    <%= f.file_field :icon, :accept => 'text/jpeg' %>
  </div>
  <div class="actions">
    <%= f.submit "Zapisz", :id => 'submit_asynchro' %>
  </div>
<% end %>
