<%# encoding: utf-8 %>

<%= form_for(@issue, :remote => true) do |f| %>
  <% if @issue.errors.any? %>
    <div id="error_explanation">
      Zgłoszenie nie zostało zapisane z powodu następujących błędów:

      <ul>
      <% @issue.errors.messages.each do |message| %>
        <li><%= message.last.last.html_safe %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :category, "Kategoria:" %>
    <%= collection_select(:issue, :category_id, Category.all, :id, :name) %>
  </div>

  <div class="field">
    <%= f.label :status, "Status:" %>
    <%= collection_select(:issue, :status_id, Status.all, :id, :name) %>
  </div>

  <div class="field">
    <%= f.label :unit, "Jednostka:" %>
    <%= collection_select(:issue, :unit_id, Unit.all, :id, :name) %>
  </div>

  <div class="field">
    <%= f.label :desc, "Opis:" %>
    <%= f.text_area :desc, :size => "60x12" %>
  </div>

  <% addr = @issue.address %>
  <% addr = Address.new if addr.nil? %>
  <%= f.fields_for(:address, addr) do |builder| %>
    <%= render 'addresses/address_form', :f => builder %>
  <% end %>

  <h3>Instancje: (<%= @issue.issue_instances.count %>)</h3>
  <% @issue.issue_instances.each do |issue_i| %>
    <%= issue_i.created_at %>
    <%= issue_i.desc %> 
    <%= link_to 'Odłącz', {:action => "detach", :id => issue_i.id}, :remote => true %>
    <br />
    <!-- TODO photo & markers -->
  <% end %>

  <br />

  <div class="actions">
    <%= f.submit 'Zapisz' %>
  </div>
<% end %>

<% if !@issue.new_record? %>
  <% close_issues = @issue.get_close_issues %>
  <% if !close_issues.empty? %>
    <%= form_tag({:action => "join", :id => @issue.id}, :method => "get", :remote => true) do %>
      Połącz z <%= select_tag(:other_id, options_from_collection_for_select(close_issues, :id, :id)) %>
      <%= submit_tag 'Wykonaj' %>
    <% end %>
  <% end %>
<% end %>
