<%# encoding: utf-8 %>
<%= form_for(@issue, :remote => true) do |f| %>
  <% if @issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@issue.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @issue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :category %><br />
    <%= collection_select(:issue, :category_id, Category.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= collection_select(:issue, :status_id, Status.all, :id, :name) %>
  </div>
  
  <div class="field">
    <%= f.label :unit %><br />
    <%= collection_select(:issue, :unit_id, Unit.all, :id, :name) %>
  </div>
  
  <div class="field">
    <%= f.label :desc %><br />
    <%= f.text_area :desc, :size => "60x12" %>
  </div>  
  
  <% if !@issue.address.nil? %>
  <%= render @issue.address %>
  <% end %>
    
  <h3>Instancje: (<%= @issue.issue_instances.count %>)</h3>
  <% @issue.issue_instances.each do |issue_i| %>
    <%= issue_i.created_at %>
    <%= issue_i.desc %> 
    <%= link_to 'detach', {:action => "detach", :id => issue_i.id}, :remote => true %>
    <br />    
    <!-- TODO photo & markers -->
  <% end %>

  <br />  
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<--! tu cos nie dziala!! -->
<% if !@issue.get_close_issues.empty? %>
  <%= form_tag({:action => "join", :id => @issue.id}, :method => "get", :remote => true) do %>
    Polacz z <%= select_tag(:other_id, options_from_collection_for_select(@issue.get_close_issues, :id, :id)) %>
    <%= submit_tag "Wykonaj" %>
  <% end %>
<% end %>
