<%# encoding: utf-8 %>

<%- content_for(:head_extra) do -%>
  <%= maps_javascript_tag %>
  <%= javascript_include_tag "map_common.js" %>
  <%= javascript_include_tag "issues.js" %>

  <%= stylesheet_link_tag "units.css" %>
  <%= stylesheet_link_tag "issue.css" %>
<%- end -%>

<%- @body_onload = "initializeIssues()" %>

<h1>Zgłoszenia</h1>

<button id="newIssueButton" class="btn">Nowe zgłoszenie</button>
<a href="#" id="printButton" class="btn" >Drukuj widoczne zgłoszenia</a>

<fieldset id="search_issue">
    <%= label_tag "Kategoria" %>
    <% categories = Category.all.map { |category| [category.name, category.id] } %>
    <% categories.insert(0, ['wszystkie',0]) %>
    <%= select_tag(:category_id, options_for_select(categories, "")) %>

    <%= label_tag "Status" %>
    <% statuses = Status.all.map { |status| [status.name, status.id] } %>
    <% statuses.insert(0, ['wszystkie',0]) %>
    <%= select_tag(:status_id, options_for_select(statuses, "")) %>

    <%= label_tag "Jednostka" %>
    <% units = Unit.all.map { |unit| [unit.name, unit.id] } %>
    <% units.insert(0, ['wszystkie',0]) %>
    <%= select_tag(:unit_id, options_for_select(units, "")) %>

    <%= label_tag "Dodane" %>
    <%= select_tag(:date, options_for_select([['kiedykolwiek',0], ['dziś', Date.today], 
    ['w tym tygodniu', 7.days.ago], ['w tym miesiacu', 1.month.ago]] )) %>

    <%= label_tag "ulica" %>
    <%= text_field_tag :street %>
    <legend>Filtrowanie zgłoszeń:</legend>
</fieldset>

<div id="map_canvas" class="issue_map"></div>

<table id="issues_table">
<thead>
		<tr>
			<th>Id</th>
			<th>Kategoria</th>
			<th>Status</th>
			<th>Jednostka</th>
			<th>Adres</th>
			<th>Data utworzenia</th>
		</tr>
	</thead>
    <tbody>
    </tbody>
</table>
