<%# encoding: utf-8 %>

<%- content_for(:head_extra) do -%>
  <%= javascript_include_tag "mapTable.js" %>
  <%= javascript_include_tag "issue.js" %>
  <%= maps_javascript_tag %>
  <%= javascript_include_tag "map_common.js" %>
  <%= javascript_include_tag "map_issues.js" %>
  <%= stylesheet_link_tag "units.css" %>
  <%= stylesheet_link_tag "issue.css" %>
<%- end -%>

<h1>Listing issues</h1>

<%= link_to 'Nowa zgłoszenie', new_issue_path, :class => 'btn'  %>
<%= link_to 'Mapka', "/issues/map", :class => 'btn' %>

<!-- <table>
	<thead>
		<tr>
		  <th>Category</th>
		  <th>IssueInstances</th>
		  <th></th>
		  <th></th>
		</tr>
	</thead>

	<tbody>
	<% @issues.each do |issue| %>
		<tr>
		  <td><%= issue.category.name %></td>
		  <td><%= issue.issue_instances.count %></td>
		  <td><%= link_to 'Edit', edit_issue_path(issue) %></td>
		  <td><%= link_to 'Destroy', issue, :confirm => 'Are you sure?', :method => :delete %></td>
		</tr>
	<% end %>
	</tbody>
</table> -->
<p><br /></p>

<br />
<div id="map_canvas"></div>
<table id="example">
<thead>
		<tr>
			<th>Id zgłoszenia</th>
			<th>Id kategorii</th>
			<th>Id statusu</th>
			<th>Id jednostki</th>
			<th>Data utworzenia</th>
			<th>Data aktualizacji</th>
		</tr>
	</thead>
    <tbody>
    </tbody>
</table>
