<%# encoding: utf-8 %>

<%- content_for(:head_extra) do -%>
  <%= javascript_include_tag "mapTable.js" %>
  <%= javascript_include_tag "issue.js" %>
  <%= maps_javascript_tag %>
  <%= javascript_include_tag "map_common.js" %>
  <%= javascript_include_tag "map_issues.js" %>
  <%= stylesheet_link_tag "units.css" %>
  <%= stylesheet_link_tag "issue.css" %>
<%- end -%>

<h1>Listing issues</h1>

<%= link_to 'Nowa zgłoszenie', new_issue_path, :class => 'btn_dialog'  %>
<%= link_to 'Mapka-do-usuniecia', "/issues/map", :class => 'btn' %>

<div id="map_canvas"></div>
<table id="example">
<thead>
		<tr>
			<th>Id zgłoszenia</th>
			<th>Id kategorii</th>
			<th>Id statusu</th>
			<th>Id jednostki</th>
			<th>Data utworzenia</th>
			<th>Data aktualizacji</th>
		</tr>
	</thead>
    <tbody>
    </tbody>
</table>
