<h1>Wydruk wybranych zgłoszeń</h1>

<% @issues.each do |issue| %>
  <b>ID:</b> <%= issue.id %><br />
  <b>Kategoria:</b> <%= issue.category.name %><br />
  <b>Status:</b> <%= issue.status.name %><br />
  <b>Adres:</b><br />
   <%= render issue.address %>
  <b>Komentarze i zdjęcia</b><br />
  <ul>
  <% issue.issue_instances.each do |ii| %>
    <li><%= ii.desc %> <%= ii.created_at %><br />
    <% ii.photos.each do |photo| %>  
      <% photo.markers.each do |m| %>
        <div id="marker" style="left: <%= m.x %>px; top: <%= m.y %>px;"></div>
      <% end %>
      <%= image_tag "/res/photos/#{photo.id}", { :id => 'uploaded_image', :width => '200px' } %>
    <% end %>
    </li>
  <% end %>
  </ul>
  <hr/>
<% end %>
